* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #0C0D21;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #abaed6;
}

header{
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    position: absolute; /* Para posicionar elementos dentro */ 
    top: 5%; 
}

.menu {
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    position: absolute; /* Cambiar a absoluto para moverlo */
    right: 10%; /* Ajusta según sea necesario */
    top: 10%; /* Ajusta según sea necesario */
    font-weight: 400;
}

/* Estilo del menú */
.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li {
    margin-left: 50px; 
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Transición suave del color al pasar el cursor */
}

.menu a:hover {
    color: rgb(255, 162, 219); /* Color al pasar el cursor */
}

/* Estilos para el botón de menú */
.menu-toggle {
    display: none; /* Ocultar por defecto */
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .menu {
        flex-direction: column; /* Cambiar a columna */
        align-items: flex-end; /* Alinear a la derecha */
        right: 10px;
        top: 10px;
    }

    .menu ul {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column; /* Cambiar a columna */
        width: 100%; /* Ancho completo */
        top: 80px; /* Ajustar según la altura del menú */
        right: 0; /* Alinear a la derecha */
    }

    .menu ul.active {
        display: flex; /* Mostrar el menú cuando esté activo */
        background-color: #0C0D21;
    }

    .menu-toggle {
        display: flex; /* Mostrar el botón de menú en pantallas pequeñas */
    }

    .menu li {
        margin: 10px 0; /* Espaciado vertical entre los elementos */
        text-align: right; /* Alinear el texto a la derecha */
 
    }

    header {
        position: static; /* Quitar el posicionamiento absoluto del header */
    }

    .name {
        position: static; /* Cambiar a position: static para que se oculte */
    }

    .about-content {
        display: flex; /* Cambiar a flex para controlar el orden */
        flex-direction: column; /* Colocar la imagen encima del texto */
        align-items: center; /* Centrar el contenido */
    }

    .titulo{
        padding: 5%;
    }
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    gap: 20px;
    justify-items: center;
}

p {
    text-align: justify;
}

.contenedor > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.titulo {
    color: #CF9AF2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px; /* Espacio entre el título y el contenedor */
    text-align: center; /* Centrar el texto */
    margin-top: 5%;
    font-weight: 300;
}

h2 {
    letter-spacing: 2px;
}

h4{
    color: #abaed6;
}

a{
    color: #eaccff;
    text-decoration: none;
    transition: color 0.3s; /* Transición suave del color al pasar el cursor */
}

a:hover{
    color: rgb(255, 162, 219);
    
}

@media screen and (max-width: 768px) {
    .contenedor {
        padding: 5%;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas también */
    }
}

/* Media Query para pantallas pequeñas */
@media screen and (max-width: 480px) {
    .contenedor {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
        justify-items: center; /* Centrar elementos en pantallas pequeñas */
        padding: 5%;
    }
}
 img{
    width: 30%;
 }